body {
    height: 100vh;
    padding: 40px 0;
    background-color: #030202;
    color: #fff;
}

.start__btn {
    padding: 10px 40px;
    background-color: #30CB2A;
    border-radius: 8px;
}

main {
    width: 600px;
    height: 100%;
    margin: auto;
    position: relative;
    display: none;
}

.main__wrap {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.text__wrap {
    font-size: 40px;
    letter-spacing: 2px;
    text-align: center;
}

.count__wrap {
    display: flex;
    justify-content: space-between;
}

.success-color {
    color: #30CB2A;
}

.fail-color {
    background-color: red;
}