body {
    height: 100vh;
    padding: 40px 0;
    background-color: #030202;
    color: #fff;
    font-family: "Courier New", monospace;
}

.start__wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.start__wrap img {
    width: 600px;
}

.start__wrap h1 {
    font-size: 32px;
    margin-top: 16px;
    text-align: center;
}

.start__wrap button {
    display: block;
    padding: 10px 60px;
    background-color: #568CA1;
    border-radius: 8px;
    margin: 16px auto 0;
    transition: 0.6s;
}

.start__wrap button:hover {
    opacity: 0.6;
    transition: 0.6s;
}

main {
    width: 600px;
    height: 100%;
    margin: auto;
    position: relative;
    display: none;
}

.main__wrap {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.text__wrap {
    font-size: 40px;
    letter-spacing: 2px;
    text-align: center;
}

.count__wrap {
    display: flex;
    justify-content: space-between;
}

.success-color {
    color: #30CB2A;
}

.fail-color {
    background-color: red;
}